{{- if .Values.rabbitmq.enabled }}
apiVersion: rabbitmq.com/v1beta1
kind: RabbitmqCluster
metadata:
  name: {{ .Release.Name }}-rabbitmq
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "goapp-stack.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.rabbitmq.replicas }}

  persistence:
    storageClassName: {{ .Values.global.storageClass }}
    storage: {{ .Values.rabbitmq.storage.size }}

  {{- with .Values.rabbitmq.resources }}
  resources:
    {{- toYaml . | nindent 4 }}
  {{- end }}

  rabbitmq:
    additionalPlugins:
      {{- toYaml .Values.rabbitmq.additionalPlugins | nindent 6 }}
    additionalConfig: |
      cluster_formation.peer_discovery_backend = rabbit_peer_discovery_k8s
      cluster_formation.k8s.host = kubernetes.default.svc.cluster.local
      cluster_formation.k8s.address_type = hostname
      cluster_partition_handling = pause_minority
      queue_master_locator = min-masters
{{- end }}
