---
apiVersion: v1
kind: ConfigMap
metadata:
  name: twitter-config
  namespace: {{ .Values.namespace }}
data:
  # Database URLs
  USERS_DB_HOST: "users-db-rw.{{ .Values.namespace }}.svc.cluster.local"
  TWEETS_DB_HOST: "tweets-db-rw.{{ .Values.namespace }}.svc.cluster.local"
  NOTIF_DB_HOST: "notif-db-rw.{{ .Values.namespace }}.svc.cluster.local"
  DB_PORT: "5432"

  # Redis Sentinel
  REDIS_SENTINEL_ADDRS: "rfs-twitter-redis.{{ .Values.namespace }}.svc.cluster.local:26379"
  REDIS_MASTER_NAME: "mymaster"

  # Elasticsearch (using default service which has endpoints even when readiness fails)
  ELASTICSEARCH_URL: "http://twitter-es-es-default.{{ .Values.namespace }}.svc.cluster.local:9200"

  # RabbitMQ
  RABBITMQ_HOST: "twitter-rabbitmq.{{ .Values.namespace }}.svc.cluster.local"
  RABBITMQ_PORT: "5672"

  # MinIO
  MINIO_ENDPOINT: "twitter-minio-hl.{{ .Values.namespace }}.svc.cluster.local:9000"

  # Service URLs (internal)
  USER_SERVICE_URL: "http://user-service.{{ .Values.namespace }}.svc.cluster.local:8080"
  TWEET_SERVICE_URL: "http://tweet-service.{{ .Values.namespace }}.svc.cluster.local:8080"
  TIMELINE_SERVICE_URL: "http://timeline-service.{{ .Values.namespace }}.svc.cluster.local:8080"
  MEDIA_SERVICE_URL: "http://media-service.{{ .Values.namespace }}.svc.cluster.local:8080"
  SEARCH_SERVICE_URL: "http://search-service.{{ .Values.namespace }}.svc.cluster.local:8080"
  NOTIFICATION_SERVICE_URL: "http://notification-service.{{ .Values.namespace }}.svc.cluster.local:8080"
